<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fuck.formoney"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- umeng-analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- umeng-analytics -->
    <!-- umeng 推送 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- umeng 推送 -->
    <!-- pgyer -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 获取logcat日志 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 蒲公英 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 网络通信 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取MAC地址 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <!-- 获取logcat日志 -->
    <!-- 蒲公英 -->
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name,android:icon,android:label,android:theme">

        <!-- 接入第三方平台 -->
        <!-- 蒲公英 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="693e3db56170057d0ace4c5d47297b2b"/>
        <!-- 蒲公英 -->


        <!-- umeng-analytics -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55fa17f1e0f55a9b99006198"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="a906c5febc8802f5eba291b15f6db631"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!-- umeng-analytics -->
        <!-- umeng-update -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- umeng-update -->
        <!-- 友盟推送manifest必备 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4"/>

                <category android:name="umeng"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fuck.formoney.intent.action.COMMAND"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.fuck.formoney.intent.action.START"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.fuck.formoney.intent.action.COCKROACH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4"/>

                <category android:name="umeng"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push"/>
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action"/>
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService"/>
        <!-- 友盟推送manifest必备 -->
        <!-- *************************    分享相关的注册 START **************************** -->
        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1104000906"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- *************************    分享相关的注册 END **************************** -->
        <!-- 以上接入第三方必备 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".activity.login.AuthPhotoRegistryActivity"
            android:label="@string/title_activity_auth_photo_registry"/>
        <activity
            android:name=".activity.login.RegisterActivity"
            android:label="@string/title_activity_register"/>
        <activity
            android:name=".activity.login.AuthForgetPswActivity"
            android:label="@string/title_activity_auth_forget_psw"/>
        <activity
            android:name=".activity.login.ForgetActivity"
            android:label="@string/title_activity_forget"/>
        <activity
            android:name=".activity.main.LinkShareActivity"
            android:label="@string/title_activity_link_share"/>
        <activity
            android:name=".activity.main.NewCourseVideoActivity"
            android:label="@string/title_activity_new_course_video"/>
        <activity
            android:name=".activity.main.NewCourseActivity"
            android:label="@string/title_activity_new_course"/>
        <activity
            android:name=".activity.user.InfoEditActivity"
            android:label="@string/title_activity_info_edit"/>
        <!-- MengPhotoPicker -->
        <activity
            android:name="com.cmbb.smartkids.photopicker.PhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.cmbb.smartkids.photopicker.PhotoPagerActivity"/>
        <!-- MengPhotoPicker -->
        <!-- TEST -->
        <receiver
            android:name="receiver.TestReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bbs.meizu"/>
            </intent-filter>
        </receiver>
        <!-- download -->
        <receiver
            android:name=".receiver.DownloadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.fuck.formoney.download.id"/>
            </intent-filter>
        </receiver>
        <!-- install -->
        <receiver
            android:name=".receiver.InstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fuck.formoney.install"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <!-- register -->
        <receiver
            android:name=".receiver.RegisterReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fuck.formoney.register"/>
            </intent-filter>
        </receiver>
        <!-- usetime -->
        <receiver
            android:name=".receiver.UseTimeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fuck.formoney.usetime"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/FullScreen.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.LotteryActivity"
            android:label="@string/title_activity_lottery"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activity.setting.SettingActivity"/>
        <activity android:name=".activity.recommend.RecommendDetailActivity"
                  android:label="@string/title_activity_recommenddetailactivity">
        </activity>
    </application>

</manifest>
